body
    {
        background: Yellow;
        color: WHITE ;
        font-family: Sans;
    }

.grid-container
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px; /* marco */ 
    background-color: red;
    padding: 10px; /* marco */
}
