body
    {
        background: FloralWhite;
        color: maroon ;
        font-family: Sans;
    }

.grid-container
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px; /* grosor de las grillas, no borde del contenedor */ 
    background-color: LightSkyBlue;
    padding: 50px; /* marco */
}
.buttons
{
	
}
