html {
  box-sizing: border-box;
  background-color: lightskyblue;
}

body {
  /* background: FloralWhite; */
  /* background-size: 100vh; */
  /* color: maroon; */
  font-family: Sans;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: /*25% 1fr;*/ repeat(
    auto-fit,
    minmax(min(100%, 15rem), 1fr)
  );
  grid-gap: 20px; /* grosor de las grillas, no borde del contenedor */
  /* background-color: LightSkyBlue; */
  padding: 50px; /* marco */
  text-align: center;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.buttons {
}
